body{
	background-image: url("Bez názvu.png");
	background-repeat: no-repeat;	
    background-size: auto;    
    background-attachment: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;    
    font-size: 3em;
    border-right: 1px solid #bbb;
    padding: 14px 16px;
}
li:hover{
	background-color: white;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #333;
}
